---
- name: "PLAY - demo vault"
  hosts: srv01

  vars_files:
    - ./vars/secret_file.yml
  vars:
    secret1: !vault |
          $ANSIBLE_VAULT;1.2;AES256;formation
          64636564383131336536396565343163663338396333623731666435306139666130636136643165
          3861646634313832396462666436643961316261653164620a323765666633616535333138623832
          65626230353938636361363465333139633362613539623738316233353135636138323435333663
          3262646466346265630a376432363836386134376562326363303739396661303163373164323530
          3166

  tasks:

    - name: "Analyse variable encryptee"
      debug:
        msg : "Variable décryptée : {{ secret1 }}, {{ secret2 }}, {{ secret3 }}"